@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #155dfc;
    --color-primary-hover: #1447e6;
    --color-primary-light: #EFF6FF;

    --color-accent-purple: #9333EA;
    --color-accent-purple-light: #FAF5FF;

    --color-accent-green: #16A34A;
    --color-accent-green-light: #F0FDF4;

    --color-background: #F8FAFC;
}
